@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@200;300;400;500&family=Playfair+Display&family=Poppins:wght@100;200;300;400&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,100&family=Smooch+Sans:wght@100;200;300;400;500&family=Varela&family=Varela+Round&display=swap');
// Hubballi,  Oswald, 'Josefin Sans', 'Lora', 'Lato', 'Varela Round', 'Playfair Display', 'Smooch Sans', 'Roboto Mono', 'Open Sans'
// 'lora', 'Playfair Display', 'Roboto Mono'

@import 'colors';

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.home{
    background:$dark1;
    width:100vw;
    max-width: 100%;
    height:100vh;
    padding: 0 50px;
    margin: 0 auto;
    overflow: hidden;

    .header{
        color:#fff;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .fa-bars{
            display: none;
            font-size: 28px;
            cursor: pointer;
        }
        .logo{
            font-size: 20px;
            font-weight: bold;
            margin-top: 9px;
            cursor: pointer;
            font-family: 'Poppins',sans-serif;
        }

        ul{
            list-style-type: none;
            li{
                display: inline;
                font-family: 'Hubballi';
                a{
                    color:$white;
                    margin: 0 5px;
                    font-size: 19px;
                    text-decoration: none;
                }
            }
        }

    }

    .showcase{
        text-align: center;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;

        h1{
            font-size: 4rem;
            margin-top: 5.5rem;
        }
        h3{
            margin: 2rem 0;
            font-size: 1.5rem;
            font-family: 'lora';
        }

        .links{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            .btn{
                display: flex;
                align-items: center;
                margin: 0 10px;
                padding: 10px;
                background: $dark2;
                border-radius: 5px;
                text-decoration: none;
                color:#fff;
                font-size: 1rem;

                .icon{
                    margin-right: 5px;
                    font-size: 1.5rem;
                }
            }
        }
        
    }
}



// responsive

@media only screen and (max-width: 768px){
    .home{
        padding: 0 30px;

        .header{
            
            .fa-bars{
                display: block;
            }

            ul{
                display: none;
            }
        }

        .showcase{
            h1{
                font-size: 3.5rem;
            }
        }
    }
}

//  mobile phones
@media only screen and (max-width: 480px){
    .home{
        padding: 0 20px;

        .header{
            
        }

        .showcase{
            h1{
                font-size: 2.6rem;
            }
        }
    }
}

//  smaller phones
@media only screen and (max-width: 320px){
    .home{
        padding: 0 20px;

        .header{

        }

        .showcase{
            h1{
                font-size: 1.8rem;
            }
            h3{
                font-size: 1.3rem;
            }
            .links{
    
                .btn{
                    padding: 5px 10px;
                    font-size: 1rem;
    
                    .icon{
                        font-size: 19px;
                    }
                }
            }
        }
    }
}