@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@200;300;400;500&family=Playfair+Display&family=Poppins:wght@100;200;300;400&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,100&family=Smooch+Sans:wght@100;200;300;400;500&family=Varela&family=Varela+Round&display=swap');
@import 'fonts';
@import 'colors';

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.all{
    width:100vw;
    max-width: 100%;
    height:100vh;
    padding: 0 50px;
    margin: 0 auto;
}

.home{
    background:$dark1;
    position: relative;
  
    .particles{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .header{
        color:#fff;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .fa-bars{
            display: none;
            font-size: 28px;
            cursor: pointer;
        }
        .logo{
            font-size: 20px;
            font-weight: bold;
            margin-top: 9px;
            cursor: pointer;
            font-family: 'Poppins',sans-serif;
        }

        ul{
            display: block;
            list-style-type: none;
            .close{
                display: none;
            }

            li{
                display: inline;
                font-family: 'Hubballi';
                a{
                    color:$white;
                    margin: 0 5px;
                    font-size: 19px;
                    text-decoration: none;
                }
            }
        }

    }

    .showcase{
        text-align: center;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;

        h1{
            font-size: 4rem;
            margin-top: 5.5rem;
        }
        h3{
            margin: 2rem 0;
            font-size: 1.5rem;
            font-family: 'lora';
        }

        .links{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            

            .btn{
                display: flex;
                align-items: center;
                margin: 0 10px;
                padding: 8px;
                background: $dark2;
                border: 1px solid $dark2;
                border-radius: 5px;
                text-decoration: none;
                color:#fff;
                font-size: 1rem;
                transition: all 0.3s ease;

                .icon{
                    margin-right: 5px;
                    font-size: 1.5rem;

                }
            }
            a:hover{
                background: darken($dark2, 4%);
            }
        }
        
    }
}

.about-me{
    background: lighten($dark1, 3%);
    color:#fff;
    height: auto;
    
    .about-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2{
        text-align: center;
        font-size: 2rem;
        padding-top: 20px;
        
    }
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(45% - 20px);
        margin: 2.5rem 0;

        .img-circle{
            width: 300px;
            height: 300px;
            overflow: hidden;
            border-radius: 50%;
            box-shadow: 2px 1px 9px;
            padding: 12px 10px 3px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .social{
            margin-top: 2rem;
            a{
                text-decoration: none;
                color:#fff;
                margin-right: 8px;
                font-size: 1.5rem;
            }
        }
    }
   .info{
       width: calc(53% - 10px);
       padding: 2rem 0;

        h3{
            margin: 1rem 0;
            font-family: $font3;
        }
        p{
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-family: '';
            margin-bottom: 1rem;
        }
        button{
            padding: 10px;
            font-size: 0.9rem;
            border:none;
            border-radius: 5px;
            background:$dark0;
            color:#fff;
            border: 1px solid $dark2;
            display: flex;
            align-items: center;
            cursor: pointer;

            .icon{
                font-size: 1.2rem;
                margin-right: 4px;
            }
        }
   }
}


// portfolio
.portfolio{
    color:#fff;
    background: $dark;
    height: auto;
    overflow-x: hidden;
    h1{
        padding: 1rem 0;
        text-align: center;
        margin-bottom: 1rem;
    }
    .projects{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        padding-bottom: 1rem;
    }
    .pro-wrap{
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        background: lighten($dark, 10%);
        border-radius: 5px;
        padding: 1rem 0;

        img{
            width: 150px;
            height: 150px;
            border-radius: 5px;
        }
        h3{
            font-family: $font3;
        }
        p{
            text-align:center;
            padding: 0 10px;
            margin: 0.5rem 0;
            font-size: 0.9rem;
            letter-spacing: 1px;
        }
        .tech{
            align-self: flex-start;
            margin-left: 1rem;
            display: flex;
            justify-content: space-between;
            .tech-name{
                margin-right: 1rem;
                font-size: 1.2rem;
            }
            .technologies{
                display: flex;
                font-size: 0.8rem;
                flex-wrap: wrap;
                div{
                    color: #fff;
                    padding: 3px 5px;
                    border-radius: 4px;
                    margin-bottom: 0.5rem;
                    margin-right: 0.5rem;
                    background: lighten($dark, 2%);
                    box-shadow: 1px 1px 1px #444;
                }
            }
        }
        .btn-pro{
            button{
                padding: 0.4rem 0.5rem ;
                cursor: pointer;
                border: none;
                border-radius: 3px;
                margin-right: 0.4rem;
                font-size: 0.9rem;
                color:#fff;
                background: lighten($dark, 40%);
            }
            .demo{
                background:lighten($dark, 30%);
            }
        }
    }
}

// responsive

@media only screen and (max-width: 768px){
    .all{
        padding: 0 30px;

        .header{

            .false{
                display: none;
            }

            .fa-bars{
                display: block;
            }

            ul{
                background:$dark1;
                z-index: 9999;
                position: fixed;
                top:0;
                left:0;
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .close{
                    display: block;
                    position: absolute;
                    right: 2rem;
                    top:1.5rem;
                    font-size: 2rem;
                    cursor: pointer;
                }
                
                li{
                    margin-bottom: 2rem;
                    font-family: '';
                    a{
                        font-size: 2rem;
                    }
                }
            }
        }

        .showcase{
            h1{
                font-size: 3.5rem;
            }
        }
    }

    // about
    .about-content{
        flex-direction: column;

        .profile{
            width: 100%;
            margin-top: 1rem;
        }
        .info{
            width: 100%;
        }
    }
}

// some responsive
@media only screen and (max-width: 670px){
    .portfolio{
        .projects{
            
        }
    }
}

//  mobile phones
@media only screen and (max-width: 480px){
    .all{
        padding: 0 20px;
    }

    .showcase{
        h1{
            font-size: 2.6rem;
        }
    }

    // about 
    .about-me{

       .profile{

        .img-circle{
            width: 200px;
            height: 200px;
        }
       }
    }
}

//  smaller phones
@media only screen and (max-width: 320px){
    .all{
        padding: 0 20px;

        // .header{

        // }

        .showcase{
            h1{
                font-size: 1.8rem;
            }
            h3{
                font-size: 1.3rem;
            }
            .links{
    
                .btn{
                    padding: 5px 10px;
                    font-size: 1rem;
    
                    .icon{
                        font-size: 19px;
                    }
                }
            }
        }
    }
}