@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@200;300;400;500&family=Playfair+Display&family=Poppins:wght@100;200;300;400&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,100&family=Smooch+Sans:wght@100;200;300;400;500&family=Varela&family=Varela+Round&display=swap');
// Hubballi,  Oswald, 'Josefin Sans', 'Lora', 'Lato', 'Varela Round', 'Playfair Display', 'Smooch Sans', 'Roboto Mono', 'Open Sans'
@import 'colors';

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.home{
    background:$dark1;
    width:100vw;
    height:100vh;
    padding: 0 50px;
    overflow: hidden;

    .header{
        color:#fff;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .logo{
            font-size: 20px;
            font-weight: bold;
            font-family: 'Poppins',sans-serif;
        }

        ul{
            list-style-type: none;
            li{
                display: inline;
                font-family: 'Hubballi';
                a{
                    color:$white;
                    margin: 0 5px;
                    font-size: 19px;
                    text-decoration: none;
                }
            }
        }

    }

    .showcase{
        background:red;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        height: 80vh;
    }
}
